[submodule "third_party/wasm-experimental"]
	path = third_party/wasm-experimental
	url = https://github.com/webassembly/experimental
[submodule "third_party/sexpr-wasm-prototype"]
	path = third_party/sexpr-wasm-prototype
	url = https://github.com/webassembly/sexpr-wasm-prototype
[submodule "third_party/v8/v8"]
	path = third_party/v8/v8
	url = https://chromium.googlesource.com/v8/v8.git
