[submodule "third_party/sexpr-wasm-prototype"]
	path = third_party/sexpr-wasm-prototype
	url = https://github.com/webassembly/sexpr-wasm-prototype
[submodule "third_party/v8-native-prototype"]
	path = third_party/v8-native-prototype
	url = https://github.com/webassembly/v8-native-prototype
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/WebAssembly/binaryen.git
